section.procura-pokemon > h2 {
    text-align: center;
}

div.container{
    background: linear-gradient(to bottom, oklch(0.282 0.091 267.935), oklch(0.379 0.146 265.522), oklch(0.372 0.044 257.287));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    height: 500px;
}

div.entrada{
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 10px;
}

div.entrada > input{
    width: 300px;
    height: 30px;
    border: inset;
    border-radius: 5px;
}

div.entrada > button {
    background-color: oklch(0.707 0.165 254.624);
    color: black;
    font-weight: 700;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s linear; /* transition the transform property */
}

div.entrada > button:hover {
    background-color: oklch(0.627 0.194 149.214); /* Aumenta o tamanho em 10% */
    color: white;
}